//
// slider.css, pure css slide.
//
// Basic module
//
// author: zmmbreeze
// license: MIT
//

@import "util.less";

.slider {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFF;
    .box-sizing();
    border: 1px solid #CCC;
    box-shadow: 2px 2px 0 #DDD;

    // for effect
    -webkit-transition: -webkit-perspective .4s ease;
    -moz-transition: -moz-perspective .4s ease;
    -ms-transition: -ms-perspective .4s ease;
    -o-transition: -o-perspective .4s ease;
    transition: perspective .4s ease;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 0 -100px;
    -moz-perspective-origin: 0 -100px;
    -ms-perspective-origin: 0 -100px;
    perspective-origin: 0 -100px;
}

.slider {
    > section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        .transition(opacity 1s);
    }
    // target style
    // default target style
    #slider-default:target ~ section[default]:first-of-type,
    > section:target {
        opacity: 1;
    }
}


@import "slider-start.less";
@import "slider-trigger.less";
@import "slider-indicator.less";
@import "slider-progress.less";
@import "slider-content.less";
@import "slider-max.less";
@import "slider-effect.less";
